[Unit]
Before=local-fs.target
Requires=systemd-fsck@dev-disk-by\x2dlabel-GUEST_IVI.service
After=systemd-fsck@dev-disk-by\x2dlabel-GUEST_IVI.service

[Mount]
Where=/var/local/lib/containers/GUEST_IVI
What=/dev/disk/by-label/GUEST_IVI
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=multi-user.target
